* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
max-width: 1140px;
margin: 0 auto;
padding: 0 20px;
}

ol,ul {
  list-style: none;
}

/* HEADER STYLING */
.header {
  padding: 20px 0px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 20px;
}